<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Basic Test Suite">
    <test name="Basic Test Group">
        <classes>
            <class name="org.cb.ta.HomePageTest">
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->